body{
    margin:30px;
}
h1#center{
    text-align:center;
}
h1#left{
    text-align:left;
}
h1#right{
    text-align:right;
}
h1#shadow{
    text-shadow: 2px 2px red;
}
h2#underline{
    text-decoration-line:underline;
}
h2#blue{
    color:blue;
}
h2#green{
    color:green;
}
h2#yellow{
    color: yellow;
}
p{
    text-align: justify;
}
p#uppercase{
    text-transform: uppercase;
}